.bg-btn-color{
    color: white;
    background-color: rgb(240, 75, 46);
}
.slider-bg-color{
    background-color: #fceae8;
    
}
.slider-rounder{
    border-radius: 15px;
}
.nav-bg-color{
  background-color: rgb(253, 240, 166);
}